<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey Steve</h1>
    <h2>Here's a list of all the email addresses</h2>
    <%@all_users.each do |user|%>
    <%=user.email%>
    <br>
    <%end%>
    <p>
    </p>

  </body>
</html>