<% provide(:active,"landing") %>
   <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <div class="col-lg-4">
          <img class="cover-image" src="/assets/ej.jpg">
          </div>
          <div class="col-lg-8"><h2>Slow. Soggy. Worms.</h2>
          <p>Flappy Worm is a jump and dodge platforming video game developed by Steve Company, featuring an earthworm who battles evil. This heavily anticipated game is set to arrive on PC and most consoles this April!</p>
          </div>
      </div>
      <span class='form'><%= render 'form' %></span>

      <%= link_to 'Back', users_path %>
    </div>