<% provide(:active,"the_game") %>
<div class="container theme-showcase" role="main">

<div class="jumbotron">
</div>
<h1>Gameplay</h1>

<p>The game plays as a 2D sidescrolling platformer with elements of a run and gun game as well. The player controls the worm and must maneuver him through the level while avoiding obstacles and enemies. The player can use Jim's gun as a method of shooting enemies, or his head as a whip for whipping enemies. The whip move also allows the player to grab hold of, and swing from, certain hooks in the game.</p>
 
<h1>Plot</h1>
<p>The player must avoid alligators, snakes, and otters in the river, but may catch bugs or escort a lady worm for bonuses. When all five worms are directed home, the game progresses to the next, harder level. After five levels, the game gets briefly easier yet again gets progressively harder to the next fifth level.</p>

</div>